body {
  font-size: $font-size-ms;
  font-weight: 400;
  line-height: 1.7;
  background-color: $color-grey-dark;
  color: $color-primary-light;
  font-family: $font-primary;
  p {
    font-family: $font-secondary;
  }
}
