/* ----------------- FONTS ----------------- */
// Import
@import url('https://fonts.googleapis.com/css?family=Cute+Font|PT+Sans+Caption:700&display=swap');

// faimilies
$font-primary: 'PT Sans Caption', sans-serif;
$font-secondary: 'Cute Font', cursive;

// size
$default-font-size: 1.6rem;