.project-card {
  min-height: 40rem;
  min-width: 35rem;
  width: 40rem;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 0.1rem $color-tertiary-light;
  border-radius: 0.1rem;
  background-color: $color-grey;
  color: $color-primary-light;
  white-space: nowrap;
  transition: ease-in;

  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      animation: fadeIn #{$i * 0.2s};
    }
  }

  code {
    white-space: normal;
  }

  h2 {
    color: $color-tertiary-light;
  }
  a {
    transition: 0.2s;
    text-decoration: none;
    color: $color-tertiary-light;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    a {
      code {
        font-weight: 700;
      }
    }
  }
}
