.app {
  margin-top: 7vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: .2rem;

  > :not(:last-child) {
    border-bottom: solid 0.1rem $color-primary-dark;
  }
}
