.app {
  margin-top: 7vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.2rem;

  .divider {
    padding: .5rem;
    // height: 5rem;
    border-radius: 5rem;
    width: 80%;
    background-color: $color-primary-dark;
  }

}
