body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #885757;
  /* background-color: #885757; */
  color: #42c5fa;
}

.greetings {
  font-family: "VT323", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background-color: #808080;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding: 8px 4px;
  border-bottom: 5px double #42c5fa;
}

.links {
  text-decoration: none;
  color: #edf1e8;
}

.links:hover {
  text-decoration: underline overline;
  text-decoration-color: rgba(66, 197, 250, 0.8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about-alex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

.main-header {
}

.about-img {
  border-radius: 8px;
  background-color: #fff;
  border: 4px double #42c5fa;
  transition: 0.6s;
  position: static;
}

.about-img:hover {
  padding: 3px;
}

.partycles {
  height: 48vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
}
.particles {
  height: 50vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

.words {
  flex-basis: 40%;
}

.about-link {
  text-decoration: none;
  color: #42c5fa;
  transition: 0.8s;
}

.about-link:hover {
  color: #000;
  text-shadow: 1px 1px 2px #42c5fa, 0 0 25px #885757, 0 0 5px #000;
}

.connect {
  padding: 0 15px;
}

.skills-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

.party-curls {
  height: 48vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
  border: 5px double #42c5fa;
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 0px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.skill-item-container {
  list-style: none;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto 20px;
}

.skill-item {
  cursor: pointer;
  font-size: 40px;
  margin: auto 15px;
  transition: 0.3s;
}

.skill-item:hover {
  font-size: 75px;
  text-shadow: 10px 10px 20px #42c5fa, 0 0 100px #885757, 0 0 50px #000;
}

.projects-container {
  display: flex;
  overflow-x: scroll;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: auto 15px 10px;
  padding: 3px 12px;
}

.project-image {
  border: solid 1px #fff;
  height: 400px;
  box-shadow: 7px 7px 3px #60505e;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "VT323", monospace;
  color: #42c5fa;
}

.project-link-image {
  background-color: #42c5fa;
  height: 30px;
}
.game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000405;
}

#particles-js {
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: visible;
}

.h {
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 5;
}

/* Now let's break it down! */
@media only screen and (max-width: 1007px) {
  body {
    background-color: #370c3d;
  }
  .projects-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .project-image {
    height: 300px;
  }
}

@media only screen and (max-width: 601px) {
  body {
    background-color: #060f26;
  }
  .about-img {
    height: 275px;
  }
  .project-image {
    height: 250px;
  }
  .skill-item {
    font-size: 30px;
  }
  .skill-item:hover {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .about-img {
    height: 250px;
  }
  .particles {
    height: 20vh;
    width: 15vw;
    flex-basis: 10%;
  }
  .project-image {
    border: solid 1px #fff;
    height: 200px;
    box-shadow: 7px 7px 3px #60505e;
  }

  .skill-item {
    font-size: 20px;
  }
  .skill-item:hover {
    font-size: 35px;
    text-shadow: 5px 5px 10px #42c5fa, 0 0 500px #885757, 0 0 25px #000;
  }
}

@media only screen and (max-width: 320px) {
  .about-img {
    height: 200px;
    border-radius: 15px;
    background-color: #fff;
    border: 4px solid #42c5fa;
  }
  .words {
    flex-basis: 80%;
  }
  .project-image {
    height: 150px;
  }
  .skill-item {
    font-size: 12px;
  }
  .skill-item:hover {
    font-size: 20px;
    text-shadow: 5px 5px 10px #42c5fa, 0 0 500px #885757, 0 0 25px #000;
  }
}
