body {
  margin: 0;
  padding: 0;
  font-family: 'Asul', sans-serif;
  background-color: #885757;
  color: #42c5fa;
}

.greetings {
  font-family: 'VT323', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  font-family: 'Cormorant SC', serif;
  display: flex;
  background-color: #000;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding: 8px 4px;
  border-bottom: 5px double #42c5fa;
  top: 0;
  position: fixed;
}

.links {
  text-decoration: none;
  color: #edf1e8;
}

.links:hover {
  text-decoration: underline overline;
  text-decoration-color: rgba(66, 197, 250, 0.8);
  text-shadow: 1px 1px 2px #42c5fa, 0 0 25px #885757, 0 0 5px #000;
}

.content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about-alex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

.about-img {
  height: 320px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.103);
  border: 4px solid #42c5fa;
  transition: 0.6s;
  position: static;
}

.partycles {
  height: 48vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
}
.particles {
  height: 50vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

.words {
  flex-basis: 40%;
}

.about-link {
  text-decoration: none;
  color: #42c5fa;
  transition: 0.5s;
}

.about-link:hover {
  cursor: pointer;
  color: #f9f5ff;
  text-shadow: 1px 1px 2px #42c5fa, 0 0 25px #885757, 0 0 5px #000;
}

.connect {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.party-curls {
  height: 48vh;
  width: 30vw;
  flex-basis: 40%;
  overflow: visible;
  border: 5px double #42c5fa;
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 0px;
}

.connect h1 {
  overflow: hidden;
  border-right: 0.15em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.14em;
  animation: type 3.5s steps(40, end), cursor 0.75s step-end infinite;
}

.connect h2 {
  white-space: nowrap;
  opacity: 0;
  animation: ghost 2s forwards;
  animation-delay: 3.9s;
  z-index: -1;
}

.social-media {
  list-style: none;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin: auto 20px;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes ghost {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .form-container {
  border: 4px solid black;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #42c5fa;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  margin-top:12px;
  margin-bottom: 12px;
  border: 3px solid black;
  border-radius: 5px;
} */

/* .form-info {
  padding: 12px 30px;
}

.form-message { */
/* resize:both; */
/* }

.form-button {
  padding: 7px 12px;
  cursor: pointer;
  font-weight: bolder;
}

.form-button:hover {
  background-color: #000405;
  color: #bdcdd3;
  box-shadow: #000405;
} */

.projects-container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: auto 25px 10px;
  padding: 3px 12px;
}

.project-image {
  border: solid 1px #fff;
  height: 400px;
  box-shadow: 7px 7px 3px #60505e;
}

.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: 'VT323', monospace;
  color: #42c5fa;
}

.project-link-image {
  margin-top: -10px;
  height: 50px;
}
.game-container {
  top: -0.5rem;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: #000405;
}

#particles-js {
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: visible;
}

.h {
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 5;
}

.tech-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 400px;
}

.tech {
  border: solid 4px;
  white-space: nowrap;
  padding: 5px 7px;
  margin: 0 12px;
  color: white;
  height: 24px;
  text-shadow: 5px 5px 10px #000, 0 0 50px #000, 0 0 25px #fff;
}

footer {
  color: rgba(255, 255, 255, 0.938);
  width: 60%;
  border-top: 4px solid #edf1e8;
  margin-top: 35px;
  text-align: center;
}
footer h3 {
  text-shadow: 5px 5px 8px #000405;
}

/* 404 NOT FOUND */
#page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.h2-not-found {
  position: fixed;
  top: 4.5rem;
  font-size: 2rem;
}

.h1-not-found {
  font-size: 12rem;
}

/* Now let's break it down! */
@media only screen and (max-width: 1007px) {
  body {
    background-color: #370c3d;
  }
  .about-img {
    height: 280px;
  }

  .tech-container {
    flex-wrap: wrap;
  }
  .tech {
    margin: 5px 10px;
    text-shadow: 4px 4px 8px #0f0, 0 0 25px #000, 0 0 12px #fff;
  }
  .connect h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .project-image {
    height: 300px;
  }
  .tech-container {
    flex-wrap: wrap;
  }
  .tech {
    font-size: 12px;
    height: 12px;
  }
  .connect h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 601px) {
  body {
    background-color: #060f26;
  }
  .about-img {
    height: 275px;
  }
  .project-image {
    height: 250px;
  }
  .skill-item {
    font-size: 30px;
  }
  .skill-item:hover {
    font-size: 45px;
  }
  .tech {
    text-shadow: 2px 2px 4px #fff, 0 0 25px #000, 0 0 12px #fff;
  }
  .connect h1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .about-img {
    height: 250px;
  }
  .particles {
    height: 20vh;
    width: 15vw;
    flex-basis: 10%;
  }
  .project-image {
    border: solid 1px #fff;
    height: 200px;
    box-shadow: 7px 7px 3px #60505e;
  }

  .skill-item {
    font-size: 20px;
  }
  .skill-item:hover {
    font-size: 35px;
    text-shadow: 5px 5px 10px #42c5fa, 0 0 500px #885757, 0 0 25px #000;
  }
  .connect h1 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .about-img {
    height: 200px;
    border-radius: 15px;
    background-color: #fff;
    border: 4px solid #42c5fa;
  }
  .words {
    flex-basis: 80%;
  }
  .project-image {
    height: 150px;
  }
  .skill-item {
    font-size: 12px;
  }
  .skill-item:hover {
    font-size: 20px;
    text-shadow: 5px 5px 10px #42c5fa, 0 0 500px #885757, 0 0 25px #000;
  }
}
